.bg {
    background: var(--ion-color-light);
    --background: var(--ion-color-light);
}

.row-cards {
    flex-wrap: nowrap;
    padding: 20px;
    overflow-y: scroll;

    .card {
        border-radius: 10px;
        color: white;
        height: 135px;
        width: 235px;
        box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.75);
        position: relative;

        .card-number {
            font-size: 14px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        .card-holder {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .card-person-name {
            font-size: 12px;
        }
        .visa-logo {
            position: absolute;
            bottom: 0;
            right: 5px;
            width: 60px;
        }
    }

}

.gradient-1 {
    background: linear-gradient(48deg, rgba(150,231,235,1) 0%, rgba(104,116,207,1) 100%);
    --background: linear-gradient(48deg, rgba(150,231,235,1) 0%, rgba(104,116,207,1) 100%);
}
.gradient-2 {
    background: linear-gradient(48deg, rgba(150,192,235,1) 0%, rgba(161,104,207,1) 100%);
    --background: linear-gradient(48deg, rgba(150,192,235,1) 0%, rgba(161,104,207,1) 100%);
}
.gradient-3 {
    background: linear-gradient(48deg, rgba(150,235,221,1) 0%, rgba(116,207,104,1) 100%);
    --background: linear-gradient(48deg, rgba(150,235,221,1) 0%, rgba(116,207,104,1) 100%);
}

.list-transactions {
    background: none;
    --background: none;

    ion-item {
        border-radius: 10px;
        margin-bottom: 10px;
        --padding-start:10px;
    }
}

.padding-20 {
    padding: 20px;
}